@font-face {
    font-family: 'Good Times BD';
    src: url('/fonts/good_times_bd-webfont.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Mattone';
    src: url('/fonts/Mattone-Regular.woff2') format('woff2');
  }